<div class="container">
    <header
        class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none bold">
                <strong>UrbanCraft</strong>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-3 link-body-emphasis">Home</a></li>
            <li>
                <a class="nav-link dropdown-toggle link-secondary" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-link px-3 link-secondary">Offers</a></li>
            <li><a href="#" class="nav-link px-3 link-secondary">Contact us</a></li>
            <li><a href="#" class="nav-link px-3 link-secondary">Blog</a></li>
        </ul>
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#8D8181" class="bi bi-cart-dash"
                viewBox="0 0 16 16">
                <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z" />
                <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>\
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search-form" role="search">
            <div class="input-group">
                <span class="input-group-text" id="search-addon">
                    <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                        <path
                            d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                            stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                    </svg>
                </span>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon">
            </div>
        </form>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
                <li><a class="dropdown-item" href="#">Sign Up</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </header>
</div>
<router-outlet />