<div class="container">
    <header
        class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 col-lg-auto mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none bold">
                <strong>UrbanCraft</strong>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-3 link-body-emphasis">Home</a></li>
            <li>
                <a class="nav-link dropdown-toggle link-secondary" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Shop
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-link px-3 link-secondary">Offers</a></li>
            <li><a href="#" class="nav-link px-3 link-secondary">Contact us</a></li>
            <li><a href="#" class="nav-link px-3 link-secondary">Blog</a></li>
        </ul>
        <div class="col-12 col-lg-auto">
            <div class="d-flex align-items-center w-100">
                <form class="me-lg-3 search-form flex-grow-1" role="search">
                    <div class="input-group">
                        <span class="input-group-text" id="search-addon">
                            <i class="icon search"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon">
                    </div>
                </form>
                <a href="#" class="icon cart mx-3"></a>
                <div class="dropdown text-end">
                    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- <img src="assets/images/google.svg" alt="mdo" width="32" height="32" class="rounded-circle"> -->
                        <i class="icon person"></i>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li *ngIf="!isLoggedIn"><a class="dropdown-item" routerLink="/signin">Sign In</a></li>
                        <li *ngIf="!isLoggedIn"><a class="dropdown-item" routerLink="/register">Sign Up</a></li>
                        <li *ngIf="isLoggedIn"><a class="dropdown-item" routerLink="/profile">Account</a></li>
                        <li *ngIf="isLoggedIn">
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngIf="isLoggedIn"><button class="dropdown-item" (click)="logout()">Sign out</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
<router-outlet />