<div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-body px-5">
                <form autofill="off" [formGroup]="form" (ngSubmit)="submit()">

                    <div class="mb-md-3 mt-md-4 pb-3">
                        <i class="icon lock"></i>
                        <h2 class="fw-bold mb-2 text-uppercase">Forgot Password</h2>
                        <p *ngIf="!statusMessage" class="text-dark mb-3">Provide your account email in which you can
                            reset your password.</p>
                        <p *ngIf="statusMessage" class="text-success mb-3">{{ statusMessage }}</p>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" autocomplete="new-email"
                                placeholder="Enter email" formControlName="email" />
                            <small *ngIf="hasError('email', 'required')" class="text-danger">Please enter your email
                                address.</small>
                            <small *ngIf="hasError('email', 'email') || hasError('email', 'pattern')"
                                class="text-danger">Please provide a valid email.</small>
                            <small *ngIf="errorMsg" class="text-danger">{{errorMsg}}</small>

                        </div>
                        <button [disabled]="formSubmitted" class="btn btn-primary form-control px-5 mb-3"
                            type="submit">Submit</button>
                    </div>
                </form>
                <div class="mb-3">
                    <p>Want to Sign in? <a routerLink="/signin" class="fw-bold">Click Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>