/* You can add global styles to this file, and also import other style files */

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'buttons';
@import 'icons';

// colors 
$primary: #B5683B;

// Icons
.icon-cart-dash {
  // background: url('./assets/cart-dash.svg') center center no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

// Header Styles
.header {
  .search-form {
    span {
        border-radius: 20px 0 0 20px;
        padding: 0.375rem 0 0.375rem 0.75rem;
        background-color: #fff;
    }
    input {
        border-radius: 0 20px 20px 0;
        border-left: 0;
    }
  }
}
