<div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-body px-5">
                <form autofill="off" [formGroup]="form" (ngSubmit)="submit()">

                    <div class="mb-md-3 mt-md-4 pb-3">
                        <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                        <div *ngIf="errorMsg" class="text-danger text-center">{{errorMsg}}</div>
                        <p *ngIf="statusMessage" class="text-success mb-3">{{ statusMessage }}</p>
                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password" name="password" class="form-control" autocomplete="new-password"
                                placeholder="" formControlName="password" />
                            <small *ngIf="hasError('password', 'required')" class="text-danger">Enter new password</small>
                            <small *ngIf="hasError('password', 'minlength')" class="text-danger">Password is weak (Min lenght should be 6)</small>
                            <small *ngIf="hasError('password_confirmation', 'mismatch')" class="text-danger">Password Mismatched.</small>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" name="password" class="form-control" autocomplete="new-password"
                                placeholder="" formControlName="password_confirmation" />
                            <small *ngIf="hasError('password_confirmation', 'required')" class="text-danger">Confirm your password.</small>
                            <small *ngIf="formHasError('mismatch')" class="text-danger">Password Mismatched.</small>
                            
                            <!-- <small *ngIf="errorMsg" class="text-danger">{{errorMsg}}</small> -->

                        </div>
                        <button [disabled]="formSubmitted" class="btn btn-primary form-control px-5 mb-3"
                            type="submit">Submit</button>
                    </div>
                </form>
                <div class="mb-3">
                    <p>Want to Sign in? <a routerLink="/signin" class="fw-bold">Click Here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>