._item {
    width: 100%;
    position: relative;
    ._caption{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
    }
}