<div class="signin-root">
    <!-- Your login form content -->
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <form autofill="off">

                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Sign In</h2>
                                    <p class="text-dark mb-5">Please enter your email and password!</p>

                                    <div class="form-outline form-white mb-4">
                                        <input type="email" name="email" class="form-control form-control-lg" autocomplete="new-email"
                                            placeholder="" />
                                        <label class="form-label">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-2">
                                        <input type="password" name="password" class="form-control form-control-lg"
                                            autocomplete="new-password" placeholder="" />
                                        <label class="form-label">Password</label>
                                    </div>

                                    <p class="small mb-5 pb-lg-2 text-end"><a class="text-primary" href="#!">Forgot
                                            password?</a>
                                    </p>

                                    <button class="btn btn-primary form-control form-control-lg px-5 mb-3" type="submit">Signin</button>
                                    <div class="hr-container">
                                        <hr>
                                            <span class="or-text">OR</span>
                                        <hr>
                                    </div>
                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <a href="/">
                                            <i class="sso-icon google"></i>
                                        </a>
                                    </div>

                                </div>
                            </form>

                            <div>
                                <p class="mb-0">Don't have an account? <a routerLink="/register" class="fw-bold">Sign Up</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>